NEXT_PUBLIC_SUPABASE_URL=https://onebpxboudxiihvjnzxh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9uZWJweGJvdWR4aWlodmpuenhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyODg3MjgsImV4cCI6MjA5Njg2NDcyOH0.UgAkuIuvjRux9wdQT4bmWo0bpaYe4y_CHo_oaUwEuog
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9uZWJweGJvdWR4aWlodmpuenhoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTI4ODcyOCwiZXhwIjoyMDk2ODY0NzI4fQ.Nw_--p4oZDS0lGFKyTIL4Hk1l-LUYdTBYDAzTNBfwZY
STRIPE_SECRET_KEY=sk_1ive_51TfPdaВDUеАхPd4QsI8y4Uf5R7zehТ135u2ZVFJD
JdeaxDGR1w0wc5NTxmI2andcBH8Yg4HALvosXoMGd9WukprB0
03pnVLmAq
STRIPE_WEBHOOK_SECRET=whsec_your-webhook-signing-secret
NEXT_PUBLIC_SITE_URL=http://zinachic.fr
